<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{${title}}"></title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <h1 th:text="#{${title}}"></h1>

    <div class="container">
        <div>
            <!-- Supuestos -->
            <div>
                <h3 th:text="#{title.tipo.sup}"></h3>
                <a th:href="@{'/crear/supuesto'}">
                    <img width="30" height="30" src="https://img.icons8.com/ios/50/plus--v1.png" alt="plus--v1" />
                </a>
                <table>
                    <tr>
                        <td th:each="sup : ${supuestos}">
                            <a th:href="@{'/document/pdf/'+${sup.id}}"  target="_blank">
                            <img width="70" height="70" src="https://img.icons8.com/ios/50/document--v1.png" alt="document--v1"/>
                            <br>
                            <span th:text="${sup.name}"></span></a>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Modelos E-R -->
            <div>
                <h3 th:text="#{title.tipo.mER}"></h3>
                <a th:href="@{'/crear/modeloER'}">
                    <img width="30" height="30" src="https://img.icons8.com/ios/50/plus--v1.png" alt="plus--v1" />
                </a>
                <table>
                    <tr>
                        <td th:each="er : ${modelosER}">
                        <a th:href="@{'/document/mER/'+${er.id}}"  target="_blank">
                            <img width="70" height="70" src="https://img.icons8.com/ios/50/stacked-organizational-chart.png" alt="stacked-organizational-chart"/>
                            <br>
                            <span th:text="${er.name}"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Modelos Relacionales -->
            <div>
                <h3 th:text="#{title.tipo.mRel}"></h3>
                <a th:href="@{'/crear/modeloRelacional'}">
                    <img width="30" height="30" src="https://img.icons8.com/ios/50/plus--v1.png" alt="plus--v1" />
                </a>
                <table>
                    <tr>
                        <td th:each="rel : ${mRelacionales}">
                        <a th:href="@{'/document/mRel/'+${rel.id}}"  target="_blank">
                            <img width="70" height="70" src="https://img.icons8.com/material-sharp/48/static-view-level2.png" alt="static-view-level2"/>
                            <br>
                            <span th:text="${rel.name}"></span>
                             </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>